body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #abc;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #234;
  border-radius: 20px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: #456;
  color: #fff;
}
#display:focus {
  outline: none;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  padding: 25px;
}

button {
  width: 110px;
  height: 65px;
  border-radius: 10px;
  border: none;
  background-color: #678;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #9ab;
}

button:active {
  background-color: #cde;
}

.operatorButton {
  background-color: #ff9999;
}

.operatorButton:hover {
  background-color: #ffbbbb;
}

.operatorButton:active {
  background-color: #ffdede;
}

.equalButton {
  background-color: #aa3333;
}

.equalButton:hover {
  background-color: #bb4444;
}

.equalButton:active {
  background-color: #cc5555;
}
